/** 
 * Main stylesheet
 */

body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.classroom-table {
  table-layout: fixed;
}

.classroom-table td {
  height: 40px;
  position: relative;
  padding: 0px!important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAAAoCAYAAAChDJfXAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQDEjgm2eWQyQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACISURBVGje7dgxDkBQEAXAJSqFhkLl/qdwAI1CJ6rfOAaFlgaJwrwLbDLZbDYvW9Oyxc2UVR1pHqNpu/gib83PQyBAgAABAgQI5ynKqn7lafkyT+dn09Bvv9+EJy+nt9lhhAABAgQIECBAgAABAgQIECD8ODrG0DEem6BjdBMgQIAAAQIECNfZAaRzHkSLjHQ0AAAAAElFTkSuQmCC);
  border: none!important;
}

.classroom-table td:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0;
  z-index: 1;
  /*transition: opacity .2s ease;*/
}

.classroom-table td:hover:before {
  opacity: 0.05;
}

.classroom-table td.table {
  background-color: #ddd;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAAAoCAYAAAChDJfXAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQDEwQWjQ2zrQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAGcSURBVGje5Zoxa8JQEMfPIy3awSSgUGxxcnUQ/Pyl0KFDhQyumTIExCGJQw1twU4NqGny7sX3TP7elsB7ufvde5d3d68XfLwfJtMZ3arEUUi9zWZ7iKOQiIj6/cHFJs/z/dUMK7PjP33WwYrYpiK2pMzgKn3YpPe6AoJNL+MugGAb+7ntINhWYGszCLYZ4dsKgnUGI4EoINQphg6CVRVDBsESxVBBsFQxRBCsoxgSiAKC9KyNBoJ1kw4kELUJ1C2AUEqg0EEoJ1DIIEQJFCoIcQKFCEIrgUIDoVRjRAehXGhFBiGqNqOCEJfcEUFo9R3QQGg3X5BANOpAoYBo3IZDAOFIB7y9vpDnDs/eu55/9i5Lk8q5ysY0kSxNaL5YmofguUN6fHou98jg4ejZH40p339We/FkTBPxR2OaTGf012W3th2OlnmJwXVG1kGSys/3l/2Y0EYQ0hgh3g7zxZJUbraUecS5u7+4F09ll2wLEKoB2NH5kOqek9wYMXEIUgVh7KZKl36fRiF0BYRxCF0A4cRRSOtgRbcqabajX1mOBduIJRNBAAAAAElFTkSuQmCC);;
}

.classroom-table td.teacherDesk {
  background-color: #dcc;
  background-image: none;
}

.classroom-table td.selected:before {
  opacity: 0.1;
}

.classroom-table td.window:after,
.classroom-table td.door:after,
.classroom-table td.blackboard:after,
.classroom-table td.heater:after {
  content: "";
  display: block;
  position: absolute;
}

.classroom-table td.blackboard:after {
  background-color: #353;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
}

.classroom-table td.door:after {
  background-color: #977;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
}

.classroom-table td.heater:after {
  background-color: #E85;
  bottom: 0;
  left: 0;
  top: 0;
  width: 10px;
}

.classroom-table td.window:after {
  background-color: #eef;
  bottom: 0;
  right: 0;
  top: 0;
  width: 4px;
}

.classroom-table td.drop {
  background-color: #aaa;
}

.classroom-table .student-name {
  font-size: 10px;
  height: 40px;
  line-height: 40px;
  position: relative;
  z-index: 10;
  text-shadow: 0 1px 1px white;
}

.student-name.drag {
  font-style: italic;
}


.button {
  border: 1px solid #c1c1c1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0px 1px 0px white;
  -webkit-box-shadow: 0px 1px 0px white;
  -moz-box-shadow: 0px 1px 0px white;
  -webkit-text-shadow: 0px 1px 0px white;
  -moz-text-shadow: 0px 1px 0px white;
  -o-text-shadow: 0px 1px 0px white;
  text-shadow: 0px 1px 0px white;
  font-family: inherit;
  line-height: 27px;
  font-size: 11px;
  color: #555555 !important;
  height: 28px;
  padding: 0px 10px;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, white, #f2f2f2);
  background-image: -moz-linear-gradient(top, white, #f2f2f2);
  background-image: -o-linear-gradient(top, white, #f2f2f2);
  background-image: -ms-linear-gradient(top, white, #f2f2f2);
  background-image: linear-gradient(top, white, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#f2f2f2');
  cursor: pointer;
  display: inline-block;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button.small {
  padding: 0px 6px;
  height: 25px;
  line-height: 25px;
}
.button:hover, .button:active, .button:focus {
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f5f5f5, #e9e9e9);
  background-image: -o-linear-gradient(top, #f5f5f5, #e9e9e9);
  background-image: -ms-linear-gradient(top, #f5f5f5, #e9e9e9);
  background-image: linear-gradient(top, #f5f5f5, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f5f5f5', EndColorStr='#e9e9e9');
}
.button.blue {
  background-color: #1a8ae3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a8ae3), to(#1c78c3));
  background-image: -webkit-linear-gradient(top, #1a8ae3, #1c78c3);
  background-image: -moz-linear-gradient(top, #1a8ae3, #1c78c3);
  background-image: -o-linear-gradient(top, #1a8ae3, #1c78c3);
  background-image: -ms-linear-gradient(top, #1a8ae3, #1c78c3);
  background-image: linear-gradient(top, #1a8ae3, #1c78c3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1a8ae3', EndColorStr='#1c78c3');
  border: 1px solid #256bae;
  color: white !important;
  -webkit-text-shadow: 0px 1px 0px #185794;
  -moz-text-shadow: 0px 1px 0px #185794;
  -o-text-shadow: 0px 1px 0px #185794;
  text-shadow: 0px 1px 0px #185794;
}
.button.blue:hover, .button.blue:focus {
  background-color: #3e9ce7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3e9ce7), to(#3f8ccc));
  background-image: -webkit-linear-gradient(top, #3e9ce7, #3f8ccc);
  background-image: -moz-linear-gradient(top, #3e9ce7, #3f8ccc);
  background-image: -o-linear-gradient(top, #3e9ce7, #3f8ccc);
  background-image: -ms-linear-gradient(top, #3e9ce7, #3f8ccc);
  background-image: linear-gradient(top, #3e9ce7, #3f8ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3e9ce7', EndColorStr='#3f8ccc');
}


.button {
  background: #f2f2f2;
}
.button:hover {
  background: white;
}
.button.blue {
  background: #1a8ae3;
}
.button.blue:hover, .button.blue:focus {
  background: #3e9ce7;
}





.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:transparent;
}
.dropdown {
    background:transparent;
    width:150px;    
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:200px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}