/** 
 * Main stylesheet
 */

body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.classroom-table {
  table-layout: fixed;
}

.classroom-table td {
  height: 40px;
  position: relative;
  padding: 0px!important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAAAoCAYAAAChDJfXAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQDEjgm2eWQyQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACISURBVGje7dgxDkBQEAXAJSqFhkLl/qdwAI1CJ6rfOAaFlgaJwrwLbDLZbDYvW9Oyxc2UVR1pHqNpu/gib83PQyBAgAABAgQI5ynKqn7lafkyT+dn09Bvv9+EJy+nt9lhhAABAgQIECBAgAABAgQIECD8ODrG0DEem6BjdBMgQIAAAQIECNfZAaRzHkSLjHQ0AAAAAElFTkSuQmCC);
  border: none!important;
}

.classroom-table td:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0;
  z-index: 1;
  /*transition: opacity .2s ease;*/
}

.classroom-table td:hover:before {
  opacity: 0.05;
}

.classroom-table td.table {
  background-color: #ddd;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAAAoCAYAAAChDJfXAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQDEwQWjQ2zrQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAGcSURBVGje5Zoxa8JQEMfPIy3awSSgUGxxcnUQ/Pyl0KFDhQyumTIExCGJQw1twU4NqGny7sX3TP7elsB7ufvde5d3d68XfLwfJtMZ3arEUUi9zWZ7iKOQiIj6/cHFJs/z/dUMK7PjP33WwYrYpiK2pMzgKn3YpPe6AoJNL+MugGAb+7ntINhWYGszCLYZ4dsKgnUGI4EoINQphg6CVRVDBsESxVBBsFQxRBCsoxgSiAKC9KyNBoJ1kw4kELUJ1C2AUEqg0EEoJ1DIIEQJFCoIcQKFCEIrgUIDoVRjRAehXGhFBiGqNqOCEJfcEUFo9R3QQGg3X5BANOpAoYBo3IZDAOFIB7y9vpDnDs/eu55/9i5Lk8q5ysY0kSxNaL5YmofguUN6fHou98jg4ejZH40p339We/FkTBPxR2OaTGf012W3th2OlnmJwXVG1kGSys/3l/2Y0EYQ0hgh3g7zxZJUbraUecS5u7+4F09ll2wLEKoB2NH5kOqek9wYMXEIUgVh7KZKl36fRiF0BYRxCF0A4cRRSOtgRbcqabajX1mOBduIJRNBAAAAAElFTkSuQmCC);;
}

.classroom-table td.teacherDesk {
  background-color: #dcc;
  background-image: none;
}

.classroom-table td.selected:before {
  opacity: 0.1;
}

.classroom-table td.window:after,
.classroom-table td.door:after,
.classroom-table td.blackboard:after,
.classroom-table td.heater:after {
  content: "";
  display: block;
  position: absolute;
}

.classroom-table td.blackboard:after {
  background-color: #353;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
}

.classroom-table td.door:after {
  background-color: #977;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
}

.classroom-table td.heater:after {
  background-color: #E85;
  bottom: 0;
  left: 0;
  top: 0;
  width: 10px;
}

.classroom-table td.window:after {
  background-color: #eef;
  bottom: 0;
  right: 0;
  top: 0;
  width: 4px;
}

.classroom-table td.drop {
  background-color: #aaa;
}

.unplaced-students {
  min-height: 500px;
}

.unplaced-students .student-name {
  margin: 4px 0;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #EEE;
}

.classroom-table .student-name {
  font-size: 10px;
  height: 40px;
  line-height: 40px;
  position: relative;
  z-index: 10;
  text-shadow: 0 1px 1px white;
}

.student-name.drag {
  font-style: italic;
}