<div class="row">
  <div class="col-lg-2" kp-drop="null" kp-drop-style="drop">
    <h4>Élèves:</h4>
    <div class="list-group">
      <a ng-repeat="student in students" 
           kp-drag="$index" 
           ng-hide="student.coord"
           ng-click="selectStudent($index)"
           ng-class="{ active: selectedStudent === $index }"
           class="list-group-item">
        {{student.name.first}} {{student.name.last}}
      </a>
    </div>
  </div>
  <div class="col-lg-7">
    <table class="table table-bordered text-center classroom-table">
      <tr ng-repeat="row in classroom">
        <td 
          ng-repeat="item in row" 
          ng-click="selectItem($parent.$index, $index)" 
          ng-class="{
            table: item.table == true,
            window: item.window == true,
            blackboard: item.blackboard == true,
            door: item.door == true,
            heater: item.heater == true,
            teacherDesk: item.teacherDesk == true,
            selected: $parent.$index == selectedItem.coord[0] && $index == selectedItem.coord[1]}"
          kp-drop="[$parent.$index, $index]">
            <div class="student-name" 
                 ng-show="item.student !== undefined"
                 kp-drag="item.student">{{ formatStudentName(item.student) }}</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-lg-3">
    <div class="selected-info" ng-show="selectedItem">
      <h3>Selected:</h3>
      <ul>
        <li ng-repeat="(name, value) in selectedItem">
          <em>{{name}}:</em> {{value}}
        </li>
      </ul>
    </div>

    <div class="selected-student-info" ng-show="selectedStudent !== undefined">
      <h3>Selected student:</h3>
      <ul>
        <li><strong>Name:</strong> {{ students[selectedStudent].name.first }} {{ students[selectedStudent].name.last }}</li>
        <li><strong>Description:</strong> {{ students[selectedStudent].description }}
      </ul>
    </div>
  </div>
</div>